.nav-link{
    color: #dc3545;
}

.nav-link:hover{
    color: #6c757d;
}

.loader{
    height: 10%;
    display: block;
    margin:auto;
    align-items: center;
    justify-content: center;
}

td.autoSizing{
    width: 1px;
    white-space: nowrap;
}

.editStyle:hover{
    color:#6c757d !important;
    cursor: pointer;
}

.deleteStyle:hover{
    color:#6c757d !important;
    cursor: pointer;
}

.valid{
    border-color: #28a745;
}